 .form {
    z-index: 10;
    position: absolute;
    margin-top:40px;
    margin-left:20px;
    
 
    
 }

 Form {
    width:160px;
    z-index: 10;
    border-radius: 50%;
    /* border-top-right-radius:50% ;
    border-bottom-left-radius:50% ; */
    border:6px solid rgba(0, 0, 0, 0);
   
    
   
} 

Form:hover {
    transform: scale3d(1,1.5,2);
    transition: all 1s ease;
    background-color:rgba(50,50,0,.4);
    color:white;
    text-emphasis-color: white;
    align-items: center;
    text-align: center;
    border-left-color: navy;
    border-right-color: navy;
    border-top-color: white;
    border-bottom-color: white;
    box-shadow: olive;
    margin-left:0px;
    


}   

#ZipCode {
    width:50px;
    text-align:center;
    /* margin-left:30px; */
    border-radius: 20%;
    background-color:#8F9BAA;
    position: relative;
    
}