h1 {
    color:white;
    text-align: left;
    z-index: 11;
    background-color: black;
}
span{
   
        color:white;
        display: flex;
        justify-content: space-evenly;
        text-decoration: none;
        align-items: center;
        font-weight: 900;
        text-transform: uppercase;
        z-index: 10;
        width:200px;
  }