.hero-image-x {
  width: 100%;
  margin-top: -120px;
}
h1 {
  color: white;
  text-align: left;
  z-index: 11;
  background-color: black;
}
span {
  color: white;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 10;
  width: 200px;
}
.x {
  width: 100%;
  margin-top: -5px;
}
div.weather {
  width: 20%;
}
.nav {
  color: white;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}
a {
  color: white;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 10;
  font-size: 14px;
}
.home {
  font-family: cursive;
  font-family: "Michroma", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
}
