#image-1 {
  width: 100%;
  margin-top: -100px;
  margin-bottom: 100px;
}
#image-2 {
  width: 100%;
  margin-top: -110px;
}
a {
  color: white;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 20;
}
.nav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
  text-align: left;
  margin-right: 10%;
  border: 2px solid white;
}
div.weather {
  width: 20%;
}

@media (max-width: 768px) {
  .nav {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 10;
    text-align: left;
    margin-right: 10%;
    border: 2px solid white;
  }
  #image-1 {
    width: 100%;
    margin-top: -100px;
    margin-bottom: 100px;
  }
  #image-2 {
    width: 100%;
    margin-top: -110px;
  }
}
