.weather {
  position: fixed;
  border-radius: 20%;
  padding-bottom: 10px;
  margin-top: 200px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  float: right;
  border: 4px solid #842c44;
  padding-bottom: 10px;
  background-color: black;
  z-index: 24;
}

p {
  font-size: 14px;
  color: rgba(255, 255, 200, 1);
  text-align: center;
  font-family: fantasy;
  font-weight: 900;
}
h3 {
  font-size: 12px;
  text-align: center;
}
h3:hover {
  color: #842c44;
  transition: all 5s ease;
}

div.weather {
  background-color: rgba(7, 0, 0, 0.5);
  width: 20%;
}
div.weather:-moz-loading {
  color: #842c44;
  transition: all 5s ease;
}
