
img>.threecars { 
    display:grid;
    grid-template-columns: 20px;
    grid-gap:0;
    width:100%;
    height: 100px;
    transition: transform .2s; 
    /* scroll-snap-points-y: repeat(300px);
    position:fixed; */

  
  }
  #zoom{
    transition: transform .2s; 
    width: cover;
    height: 600px;
    background-size: 100%;
    
  }
  #zoom:hover {
    transform: scale(2); 
    transition: all 2s ease;
    background-size: 80%;
    margin-bottom:200px;
   
    
  }



.heroImage {
  width: 100%;
  margin-top: -60px;
  object-fit: cover
  
}
.nav {
  color:white;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  
}
a {
  color:white;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 10;
}


button {
  z-index:20px;
  width:20px;
}

