.home {
  font-family: cursive;
  font-family: "Michroma", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  text-decoration: wavy;
}
#zoom {
  transition: transform 0.2s;
  width: cover;
  height: 500px;
  background-size: 100%;
}
#zoom:hover {
  transform: scale(2);
  transition: all 2s ease;
  background-size: 80%;
  margin-bottom: 250px;
}
.hero-image-two {
  width:120%;
}
.hero-image {
  width: 100%;
  margin-top: -60px;
  object-fit: cover;
  object-position: center;
}
.nav {
  color: white;
  display: flex;
  justify-content: space-evenly;
  z-index: 30;
}
.nav-2 {
  color: white;
  display: flex;
  justify-content: space-evenly;
  z-index: 30;
}
a {
  color: white;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 10;
  font-size: 14px;
}
a:hover {
  color: rgba(255, 255, 200, 0.5);
  transition: all 1s ease;
}
div.weather {
  background-color: rgba(7, 0, 0, 0.5);
  width: 20%;
}
